# Pandas - Analyzing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/ppando/Materias/python/doc/data/pandas_datos.csv')

In [3]:
df.shape      # dimensiones (filas, columnas)

(169, 4)

In [4]:
df.size       # número de elementos: filas x columnas

676

In [5]:
df.columns    # nombres de columnas

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [6]:
df.index      # nombres de filas

RangeIndex(start=0, stop=169, step=1)

In [7]:
df.dtypes     # tipos de datos

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [8]:
df.head()     # visualización de las primeras 5 filas (default)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [9]:
df.head(10)    # visualización de las primeras 10 filas

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [10]:
df.tail()      # visualización de las últimas 5 filas (default)

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [11]:
df.tail(10)    # visualización de las últimas 10 filas

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [12]:
df_filtrado = df[df['Duration'] > 120]
df_filtrado

     Duration  Pulse  Maxpulse  Calories
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
69        300    108       143    1500.2
70        150     97       129    1115.0
73        150     97       127     953.2
79        270    100       131    1729.0
90        180    101       127     600.1
106       180     90       120     800.3
109       210    137       184    1860.4

In [13]:
df_filtrado = df[(df['Duration'] > 200) & (df['Pulse'] > 100)]
df_filtrado

     Duration  Pulse  Maxpulse  Calories
60        210    108       160    1376.0
69        300    108       143    1500.2
109       210    137       184    1860.4

In [14]:
df.info()      # información sobre el conjunto de los datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [15]:
df.describe()   # muestra estadísticas de las columnas numéricas

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.800000
std     42.299949   14.510259   16.450434   266.377134
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

* **corr()**: muestra la relación entre las columnas, ignorando las columnas "no numéricas"
* Es una tabla con muchos números que representan qué tan buena es la relación entre dos columnas
* El número varía de -1 a 1
    * **1** : correlación perfecta (cada vez que un valor aumenta, el otro también)
    * **0.9** : buena relación    (si aumenta un valor, el otro probablemente también aumentará)
    * **-0.9** : buena relación    (si aumenta un valor, el otro probablement disminuirá)
    * **0.2** : NO buena relación (si aumenta un valor, no significa que el otro lo hará)

In [16]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922721
Pulse    -0.155408  1.000000  0.786535  0.025120
Maxpulse  0.009403  0.786535  1.000000  0.203814
Calories  0.922721  0.025120  0.203814  1.000000

* Análisis:
    * **Duration y Duration**: Perfecta, cada columna siempre tiene una relación perfecta consigo misma
    * **Duration y Calories**: Muy Buena, podemos predecir que cuanto mas entrenes, mas calorias quemarás
    * **Duration y Pulse**: Muy Mala, no podemos predecir el pulso máximo simplemente mirando la duración del entrenamiento